
@font-face {
    font-family: 'BiscuitsDelight';
    src: url(../fonts/Biscuits\ Delight.otf);
}
@font-face {
    font-family: 'ChocolateButtons';
    src: url(../fonts/Chocolate\ Buttons.otf);
}
@font-face {
    font-family: 'ComingSoon';
    src: url(../fonts/ComingSoon.ttf);
}
@font-face {
    font-family: 'GamesStudio';
    src: url(../fonts/Games\ Studios.otf);
}
@font-face {
    font-family: 'Schoolbell';
    src: url(../fonts/Schoolbell.ttf);
}
@font-face {
    font-family: 'KidsDream';
    src: url(../fonts/KidsDreamDemoRegular.ttf);
}

#gmenu {

    font-family: Schoolbell;
    padding: 0;
    margin: 0;
    line-height: 1.4;

    *::-webkit-scrollbar { display: none; }

    .solid {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #ffffff;
    }
    
    #game_menu {
        .menu-panel {
            position: absolute;
            left: 5%;
            top: 10%;
            font-size: 50px;

            & ul {
                list-style: none;
            }

            & li {
                padding: 16px;
                margin: 32px;
            }

            & a {
                display: block;
                text-align: center;
                padding: 8px 64px;
                background-color: color-mix(in srgb, lavender, transparent 50%);
                color: royalblue;
                text-decoration: none;

                box-shadow: 20px 38px 34px -26px rgba(0, 0, 0, 0.75);
                border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
                border: dashed 7px honeydew;

                position: relative;
                top: 0;
                transition: top ease 0.25s, background-color ease 0.25s;

                &:hover {
                    top: -20px;
                    background-color: aliceblue;
                }
            }
        }
    }
}
